body {
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: #e6e6e6 !important;
}

.centerContent {
    background-color: #f8f8f8 !important;
}

#aboutContent p {
    font-size: 1.8rem;
    text-align: justify;
}

#aboutContent h2 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: justify;
    padding-bottom: 2vh;
    padding-top:2vh;
}

.aboutHeader{
    height:7vh;
    text-align:center;
}

.aboutHeader h1 {
    font-size: 4rem;
}

.container_footer{
    height:2vh;
}


