html, body {
    font-size: 100%;
    width: 100vw;
    height: 100vh;
    margin: 0;
    /*background-color: aliceblue;*/
    background-color: white !important;
}

.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
    height: auto;
}


.centerContent {
    width: 70vw;
    margin: auto;
    background-color: #f2fff2 !important;
    /*background-color:white;*/
    /*border:1px #000 dashed;*/
}

.h2{
    margin-top:.5rem !important;
}

.fl_left{
    float:left;
}

.fl_right{
    float:right;
}


.logoPanel {
    font-size:1.7em;
    padding-top: 4vh;
    padding-bottom: 4vh;
    margin-left: 0;
}

#logoHeader a {
    padding-left: 5vw;
    font-size: 3em;
    font-family: 'Indie Flower', cursive;
}

/*#mainTableContainer{
    border:1px #000 solid;

}

#mainMenuContainer{
    border:1px #000 solid;
}

.container {
    border: 1px #000 solid;
}

.container-fluid {
    border: 1px #000 solid;
}*/

#mainContainer {
    /*border:1px #000 solid;*/
    min-height: 90vh;
    /*margin-left:4vw;
    margin-right:4vw;*/
    margin:auto;
}

#summaryContainer{
    margin:0;
    padding:0;
    min-width:100%;
    min-height:100%;
}

.foodTableContainer {
    margin-top: 1vh;
    width:100% !important;
}

.foodTableHeader {
    padding-top:5px;
    padding-bottom:5px;
    border: 1px #808080 solid;
}

.tableBody {
    /*border: 1px #808080 solid;*/
    /*background-color: azure;*/
    background-color:lightcyan;
}

#myTable {
    
    font-family: 'Comic Sans MS', cursive;
    font-size: 2em;
}

.addItemInput{
    margin-top:10vh;
}

.form-check-input {
    /*DO POPRAWY*/
    float: left;
}


.chooseRecipeDiv{
    float:right;
}

.divider{
    padding-left: 1vw;
    padding-right: 1vw;
}

a#homeHref
{
    padding-right:50vw;
}

#loginForm{
    width:20vw;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}



.col_functions {
    padding-top: 1% !important;
    padding-left: 2% !important;
    margin: 0 !important;
}




.footer-font{
    font-size:1.4em;
}



header {
    padding: 154px 1000px 100px;
}

@media (min-width: 992px) {
    header {
        padding: 156px 0 100px;
    }
}

section {
    padding: 150px 0;
}